* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #fff;
    color: black;
    background: #f4f4f4;
    font-family: 'Exo 2', sans-serif;
}

.title {
    text-align: center;
    font-size: 110px;
    color: rgba(175, 47, 47, 0.15);
    font-family: 'Dosis', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 900px;
    margin: 10px auto;
    border: 1px solid #bdb9b9;
    border-radius: 5px;
    padding: 20px 16px 30px;
    background: #fdfdfd;
    box-shadow: 0 0 15px rgba(138, 131, 131, 0.5);
}

/* ul {
    margin: 5px 0;
    padding: 0;
}

li * {
    float: left;
}

li, h3 {
    clear: both;
    list-style: none;
} */

#select {
    margin-left: 10px;
    border-radius: 6px;
}

.priority {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    margin: 0 10px;
    flex-shrink: 0;
    border: 1px solid rgba(0, 0, 0, 0.23);
}

input, #add {
    outline: none;
}

#add {
    background: none;
    border: 0px;
    color: #888;
    font-size: 15px;
    font-family: 'Exo 2', sans-serif;
    font-weight: 900;
    cursor: pointer;
    padding: 10px 20px;
    margin: 0 10px;
    border: 1px solid rgb(169, 169, 169);;
    border-radius: 6px;
    transition: 0.5s ease;
}

#add:hover {
    color: black;
    background: rgba(175, 47, 47, 0.15);
}

.edit, .delete, .checkbox, .save {
    background: none;
    border: 0px;
    color: #888;
    cursor: pointer;
    margin: 0 10px;
}
 
h3 {
    color: #548bd6;
    font-weight: bold;
    font-size: 15px;
    border-bottom: 2px solid #907d7d;
    padding: 10px 0;
    margin: 0 0 10px;
    text-transform: uppercase;
}

input[type="text"] {
    margin: 1px 0;
    font-size: 18px;
    line-height: 1;
    height: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    background: #fff;
    border-radius: 6px;
    font-family: 'Exo 2', sans-serif;
    color: #888;
}

input[type="text"]:focus {
    color: black;
}

label[for='new-task'] {
    display: block;
    margin: 0 0 20px;
}

.add-task {
    display: flex;
}

#description {
    width: 100%;
    border-radius: 6px;
    margin-top: 10px;
    font-size: 18px;
    line-height: 1;
    font-family: sans-serif;
    padding: 8px;
    resize: vertical;
}

#new-task {
    width: 100%;
}

.edit:hover, .checkbox:hover {
    color: rgb(33, 97, 72);
}

.list-item {
    overflow: hidden;
    border-bottom: 1px solid #eee;
    width: 100%;
    display: flex;
    align-items: center;
}

/* .list-item > input[type="checkbox"] {
    margin: 0 10px;
    position: relative;
    top: 15px;
    transform: scale(1.5);
} */

.list-item > label {
    font-size: 18px;
    line-height: 2.2;
    width: 100%;
    padding: 1px 0 1px 9px;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* .list-item > input[type="text"] {
    width: 100%;
} */

.delete:hover {
    color: #CF2323;
}

#finished-tasks label, #finished-tasks button {
    text-decoration: line-through;
    color: lightgray;
}

/* .list-item input[type=text] {
    display: none;
} */

/* .list-item.editMode input[type=text] {
    display: block;
}

.list-item.editMode label {
    display: none;
} */

.modal-form-wrapper {
    max-width: 700px;
    border: 1px solid black;
    border-radius: 3px;
    padding: 10px;
    background: #fdfdfd;
}

#modal-form-text, #modal-form-description {
    width: 100%;
    font-size: 18px;
    line-height: 1;
    font-family: 'Exo 2', sans-serif;
}

#modal-form-description {
    resize: vertical;
    padding: 8px;
}

#modal-form-save {
    width: 100%;
    padding: 10px;
    background: rgba(113, 39, 39, 0.15);
    border: 1px solid transparent;
    border-radius: 3px;
    cursor: pointer;
    margin: 10px 0;
    transition: 0.5s ease;
}

#modal-form-save:hover {
    border: 1px solid black;
}